body {
    background: url(../images/background3.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 70px;
}

.tr-select-bg {
    background: #ECECEC;
}

tbody tr:hover {
    cursor: pointer;
    background: #ECECEC;
}

